/* khmer */
@font-face {
  font-family: 'Angkor';
  font-style: normal;
  font-weight: 400;
  src: local('Angkor Regular'), local('Angkor-Regular'), url(https://fonts.gstatic.com/s/angkor/v12/H4cmBXyAlsPdnlbO_iY_0Lo.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
