/* khmer */
@font-face {
  font-family: 'Bayon';
  font-style: normal;
  font-weight: 400;
  src: local('Bayon Regular'), local('Bayon-Regular'), url(https://fonts.gstatic.com/s/bayon/v13/9XUrlJNmn0LPFm-lMBc0dw.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
